
<html dir="ltr" mozdisallowselectionprint>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="google" content="notranslate">
	<title>Epub Reader!</title>

	<style>
		body {
			background-color: #808080;
			margin: 0;
			padding: 0;
		}
		#viewerContainer {
			overflow: auto;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	</style>



</head>



<body tabindex="1">
	<div id="viewerContainer">
	</div>


	<script type="text/javascript" src="/static/ext/epubjs/polyfill.min.js"></script>
	<script type="text/javascript" src="/static/ext/epubjs/epub.js"></script>
	<script type="text/javascript" src="/static/ext/epubjs/jszip.js"></script>
	<script type="text/javascript">
		var url = "{{furl}}";

		var book = ePub(url);
		var rendition = book.renderTo(document.body, {
			manager: "continuous",
			flow: "continuous",
			width: "60%"
		});
		var displayed = rendition.display();
	</script>

</body>
</html>

