requests
git+https://github.com/fake-name/amqpstorm.git
git+https://github.com/fake-name/AmqpConnector.git
git+https://github.com/fake-name/unshortenit.git
git+https://github.com/berkerpeksag/astor.git

chardet
pymysql
mem_top
statsd
xxhash
objgraph
zerorpc
cssutils
tinycss2
fontTools==3.21.0
semantic
fdict
cachetools
bleach
Jinja2
psycopg2
SQLAlchemy
sqlalchemy-citext

PySocks
msgpack-python
python-dateutil
bbcode
pympler

colorama
pyyaml
natsort
mdx_linkify
ftfy
lxml
Flask==0.12.2
Flask-DebugToolbar
Flask-Login
Flask-Babel==0.11.2
selenium
webcolors==1.7
pyparsing
feedparser

Flask-SQLAlchemy
flask-paginate==0.5.1
Flask-WTF
apscheduler==3.5.0
## semantic
## A BUNCH of memory leaks in sqlalchemy-continuum have been fixed in git, but never released.
git+https://github.com/kvesteri/sqlalchemy-continuum.git
sqlalchemy_searchable==0.10.6

BeautifulSoup4==4.6.0

## alembic
## Babel
## blinker
## coverage
## decorator
## defusedxml
## Flask-Bcrypt
## Flask-Mail
## Flask-Migrate
## Flask-Script
## flipflop
## html5lib
## itsdangerous
## Mako
## Markdown
## MarkupSafe
## pbr
## pstat
## psutil
## python-bcrypt
## pytz
## six
## speaklater
## SQLAlchemy-Searchable
## SQLAlchemy-Utils
## sqlparse
## Tempita
## validators
## Werkzeug
## WTForms
## WTForms-JSON