git+https://github.com/fake-name/AmqpConnector.git
git+https://github.com/fake-name/unshortenit

bleach
Jinja2
psycopg2
SQLAlchemy
sqlalchemy-citext

colorama
pyyaml
natsort
mdx_linkify
ftfy
lxml
Flask
Flask-DebugToolbar
Flask-Login
Flask-Babel
selenium
webcolors
pyparsing
feedparser

Flask-SQLAlchemy
flask-paginate
Flask-WTF
apscheduler
semantic
sqlalchemy_continuum
sqlalchemy_searchable
requests

## BS4 4.4.0 has some bugs.
BeautifulSoup4==4.3.2

## alembic
## Babel
## blinker
## coverage
## decorator
## defusedxml
## Flask-Bcrypt
## Flask-Mail
## Flask-Migrate
## Flask-Script
## flipflop
## html5lib
## itsdangerous
## Mako
## Markdown
## MarkupSafe
## pbr
## pstat
## psutil
## python-bcrypt
## pytz
## six
## speaklater
## SQLAlchemy-Searchable
## SQLAlchemy-Utils
## sqlparse
## Tempita
## validators
## Werkzeug
## WTForms
## WTForms-JSON