requests==2.18.4
git+https://github.com/fake-name/amqpstorm.git
git+https://github.com/fake-name/AmqpConnector.git
git+https://github.com/fake-name/unshortenit.git
git+https://github.com/berkerpeksag/astor.git

chardet==3.0.4
pymysql==0.7.11
mem_top==0.1.6
statsd==3.2.1
xxhash==1.0.1
objgraph
zerorpc
cssutils
tinycss2
fontTools
semantic
cachetools
bleach
Jinja2
psycopg2
SQLAlchemy
sqlalchemy-citext

PySocks
msgpack-python
python-dateutil
bbcode
pympler

colorama
pyyaml
natsort
mdx_linkify
ftfy
lxml
Flask
Flask-DebugToolbar
Flask-Login
Flask-Babel
selenium
webcolors
pyparsing
feedparser

Flask-SQLAlchemy
flask-paginate
Flask-WTF
apscheduler
## semantic
## A BUNCH of memory leaks in sqlalchemy-continuum have been fixed in git, but never released.
git+https://github.com/kvesteri/sqlalchemy-continuum.git
sqlalchemy_searchable

BeautifulSoup4

## alembic
## Babel
## blinker
## coverage
## decorator
## defusedxml
## Flask-Bcrypt
## Flask-Mail
## Flask-Migrate
## Flask-Script
## flipflop
## html5lib
## itsdangerous
## Mako
## Markdown
## MarkupSafe
## pbr
## pstat
## psutil
## python-bcrypt
## pytz
## six
## speaklater
## SQLAlchemy-Searchable
## SQLAlchemy-Utils
## sqlparse
## Tempita
## validators
## Werkzeug
## WTForms
## WTForms-JSON