

DATABASE_IP      = "database IP"
DATABASE_DB_NAME = "database DB name"
DATABASE_USER    = "database username"
DATABASE_PASS    = "database password"


RELINK_SECRET = "random string for relinking. Put >10 characters of randomness here"
RESOURCE_DIR  = "Absolute filesystem path where resources will be stored."
