<!-- extend base layout -->


{%- macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth' style="table-layout: fixed;">
		<colgroup>
			<col />
			<col style="width: 50%;" />
		</colgroup>
		<tr>
			<th>
				Feed name
			</th>
			<th>
				URLs
			</th>
		</tr>
{%- endmacro -%}

{%- macro tableFooter() -%}
	</table>
{%- endmacro -%}



{%- extends "__base.html" -%}

{%- block content -%}
	{%- include '_block_flash.html' -%}
	<div class="well well-large" style="min-height: 140px;">
		<div><h2 style='display: inline'>RSS Feed Items</h2><h5 style='display: inline; float:right'>Releases: {{release_count}}</h5></div>

		<div>
			{{feed}}
		</div>

	<div id="code-editor">{{"\n\n\n"}}{{feed.func}}{{"\n\n\n"}}</div>



	</div>

{%- endblock -%}

{%- block footer -%}
	<style type="text/css" media="screen">
		#code-editor {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 500px
		}
	</style>
	<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var editor = ace.edit("code-editor");
		editor.getSession().setUseSoftTabs(false);
		editor.setDisplayIndentGuides(true);
		editor.setShowInvisibles(true);
		editor.setTheme("ace/theme/cobalt");
		editor.getSession().setMode("ace/mode/python");
		editor.resize()
	</script>
{%- endblock -%}