<!-- extend base layout -->
{% macro render_pagination(pagination) %}
	<div class=pagination>
	{%- for page in pagination.iter_pages() %}
		{% if page %}
			{% if page != pagination.page %}
				<a href="{{ page }}">{{ page }}</a>
			{% else %}
				<strong>{{ page }}</strong>
			{% endif %}
		{% else %}
			<span class=ellipsis>…</span>
		{% endif %}
	{%- endfor %}
	</div>
{% endmacro %}




{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well well-large" style="min-height: 140px;">
		<h2>RSS Feed Items:</h2>

		{{ render_pagination(sequence_item) }}


		{% set raw_feeds = sequence_item.items %}
		<div>
			{% include 'rss-pages/_block_feeds.html' %}
		</div>

		{{ render_pagination(sequence_item) }}



	</div>

	</ul>
{% endblock %}
