
{%- macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth' style="table-layout: fixed;">
		<colgroup>
			<col />
			<col style="width: 75%;" />
		</colgroup>
		<tr>
			<th>
				Feed name
			</th>
			<th>
				URLs
			</th>
		</tr>
{%- endmacro -%}

{%- macro tableFooter() -%}
	</table>
{%- endmacro -%}



{%- macro release_block(block_item_list) -%}
	<div>
		{%- for after_dispatch, raw in block_item_list -%}
			<div>
				{{tableHeader()}}
					<tr><td>SourceName</td><td>{{raw['srcname']}}</td></tr>
					<tr><td>Title</td><td>{{raw['title']}}</td></tr>
					<tr><td>Tags</td><td>{{raw['tags']}}</td></tr>
					<tr><td>Feed</td><td><a href='{{raw['linkUrl']}}'>{{raw['linkUrl']}}</a></td></tr>
					<tr><td>Vol, Chp, Frag, Postfix</td><td>{{raw['vcfp']}}</td></tr>
					<tr><td>GUID</td><td>{{raw['guid']}}</td></tr>
					<tr><td>Published</td><td>{{raw['published']}}</td></tr>
				{{tableFooter()}}
			</div>
		{%- endfor -%}
	</div>
{%- endmacro -%}


<div>
	<div>
		<h4>Missed items: {{items['missed'] | length}}</h4>
		{{ release_block(items['missed']) }}
	</div>
	<div>
		<h4>Ignored items: {{items['ignored'] | length}}</h4>
		{{ release_block(items['ignored']) }}
	</div>
	<div>
		<h4>Successful items: {{items['successful'] | length}}</h4>
		{{ release_block(items['successful']) }}
	</div>

</div>
