<!-- extend base layout -->

{%- macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth' style="table-layout: fixed;">
		<colgroup>
			<col />
			<col style="width: 50%;" />
		</colgroup>
		<tr>
			<th>
				Feed name
			</th>
			<th>
				URLs
			</th>
		</tr>
{%- endmacro -%}

{%- macro tableFooter() -%}
	</table>
{%- endmacro -%}



{%- macro release_block(block_item_list) -%}
	<div>
		{{block_item_list}}
	</div>
{%- endmacro -%}




<!DOCTYPE html>
<html>
	<head>
		{%- if title -%}
			<title>ReadProxy - {{ title }}</title>
		{%- else -%}
			<title>ReadProxy</title>
		{%- endif -%}

		<!-- Base template header -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<!-- Sub template header -->

		<style>
			#segment_container
			{
				max-width: none !important;
			}
			body
			{
				max-width: none !important;
			}
			table, th, td {
			    border: 1px solid black !important;
			}
			th, td
			{
				padding : 2px !important;
			}
		</style>
		<!-- template header end -->
	</head>
	<body>
		<div id='segment_container'>
			<div id='segment_body'>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2" style='width:180px !important'>
							{%- include '_block_nav.html' -%}
						</div>
						<div class="col-md-10">
							{%- include '_block_flash.html' -%}
							<div class="well well-large" style="min-height: 140px; width: 100%;">
								<div><h2 style='display: inline'>RSS Feed Source: {{feed.feed_name}}</h2></div>
								<div class='clearfix'></div>

								<div id="code-editor">{{feed.func}}{{"\n\n\n"}}</div>
								<hr>
								<div>

<div id='code-templates' class='collapse'>
<pre><code>{
	'srcname': 'String',              'contents': 'wat',
	'published': datetime.datetime(), 'feedtype': 'eastern',
	'guid': 'String',                 'linkUrl': 'String',
	'tags': [...],                    'feed_id': 000,
	'authors': [...],                 'updated': datetime.datetime(),
	'vcfp': (None, 69, 0, ''),        'title': 'String'
}</code></pre>
<pre><code>
	snames = [
			'The Thrilling Sword',
		]

	tlut = {tmp.lower(): tmp for tmp in snames}
	tlut['demon god'] = "Demon God"

	ltags = [tmp.lower() for tmp in item['tags']]
	for key, value in tlut.items():
		if key in ltags:
			return buildReleaseMessage(item, value, vol, chp, frag=frag, postfix=postfix, tl_type='translated')

	################################################################################################################

	tagmap = {
		'A Will Eternal'                                  : 'A Will Eternal',
	}

	for tag, sname in tagmap.items():
		if tag in item['tags']:
			return buildReleaseMessage(item, sname, vol, chp, frag=frag)

	################################################################################################################

	chp_prefixes = [
			('Lord of the Star Ocean',                               True),
			('Game Market 1983',                                     False),
		]

	for series, require_chp in chp_prefixes:
		if item['title'].lower().startswith(series.lower()) and (not require_chp or 'chapter' in item['title'].lower()):
			return buildReleaseMessage(item, series, vol, chp, frag=frag, postfix=postfix)

	return False
</code></pre>
								<hr>
</div>
<div id='code-longer-templates' class='collapse' style='position:relative;'>
<button class="btn" style="z-index: 100; position: absolute; right: 0px;" onclick="insert_snippet('tag-lut-snippet')">Insert</button>
<pre><code id='tag-lut-snippet'>	tagmap = [
		('PRC',       'PRC',                      'translated'),
		('Loiterous', 'Loiterous',                'oel'),
	]

	for tagname, name, tl_type in tagmap:
		if tagname in item['tags']:
			return buildReleaseMessage(item, name, vol, chp, frag=frag, postfix=postfix, tl_type=tl_type)
</code></pre>

<button class="btn" style="z-index: 100; position: absolute; right: 0px;" onclick="insert_snippet('url-lut-snippet')">Insert</button>
<pre><code id='url-lut-snippet'>	urlfrag = [
		('http://www.rebirth.online/novel/jintetsu/',  'Jintetsu',     'translated'),

		('rebirth.online/novel/earths-core' ,          "Earth's Core", 'oel'),
	]

	for key, name, tl_type in urlfrag:
		if key in item['linkUrl'].lower():
			return buildReleaseMessage(item, name, vol, chp, frag=frag, postfix=postfix, tl_type=tl_type)
</code></pre>

<button class="btn" style="z-index: 100; position: absolute; right: 0px;" onclick="insert_snippet('title-lut-snippet')">Insert</button>
<pre><code id='title-lut-snippet'>	titlemap = [
		('Tensei Shoujo no Rirekisho',  'Tensei Shoujo no Rirekisho',      'translated'),
		('Master of Dungeon',           'Master of Dungeon',               'oel'),
	]

	for titlecomponent, name, tl_type in titlemap:
		if titlecomponent.lower() in item['title'].lower():
			return buildReleaseMessage(item, name, vol, chp, frag=frag, postfix=postfix, tl_type=tl_type)
</code></pre>
<button class="btn" style="z-index: 100; position: absolute; right: 0px;" onclick="insert_snippet('startswith-lut-snippet')">Insert</button>
<pre><code id='startswith-lut-snippet'>	chp_prefixes = [
			('Lord of the Star Ocean',                               True,  'translated'),
			('Game Market 1983',                                     False, 'translated'),
		]

	for series, require_chp, tl_type in chp_prefixes:
		if item['title'].lower().startswith(series.lower()) and (not require_chp or 'chapter' in item['title'].lower()):
			return buildReleaseMessage(item, series, vol, chp, frag=frag, postfix=postfix, tl_type=tl_type)

	return False
</code></pre>

<button class="btn" style="z-index: 100; position: absolute; right: 0px;" onclick="insert_snippet('lower-lut-snippet')">Insert</button>
<pre><code id='lower-lut-snippet'>	if 'tdadp' in item['title'].lower() or 'To deprive a deprived person episode'.lower() in item['title'].lower():
		if vol and chp:
			vol = None
		return buildReleaseMessage(item, 'To Deprive a Deprived Person', vol, chp, frag=frag, postfix=postfix)
</code></pre>

								<hr>
</div>
<div id='name-edit' class='collapse form-inline'>
	<div>
		<label class="col-form-label">Feed source name:</label>
	</div>
	<div class='form-group'>
		Feed Name -
		<input id="feed-name-edit" class='form-control' data-old-name="{{feed.feed_name}}" data-feed-id="{{feed.id}}" value="{{feed.feed_name}}" style="width:500px">
		<button onclick="update_name()" style='display: inline; float:right' class="btn btn-info">Update Name</button>
	</div>
	<div>
		Feed URLs: - {{feed.urls | length}}
		<ul>
			{% for feedurl in feed.urls %}
				<li><code>{{feedurl.netloc}}</code> - <code>{{feedurl.feed_url}}</code></li>
			{% endfor %}
		</ul>
	</div>
	<hr>
</div>

								</div>
								<button onclick="apply_function_update()" class="btn btn-primary" style='display: inline; float:right'>Update function and execute</button>
								<button onclick="discard_changes()" style='display: inline; float:left' class="btn btn-danger">Discard changes</button>
								<center>
									<button class="btn" data-toggle="collapse" data-target="#code-templates">Toggle Snippets</button>
									<button class="btn" data-toggle="collapse" data-target="#code-longer-templates">Longer Snippets</button>
									<button class="btn" data-toggle="collapse" data-target="#name-edit">Name Edit</button>
								</center>
								<div class='clearfix'></div>
								<hr>
								<div id="process-results">
									<div class="center-block text-center">
										<h4>Loading current feed items.</h4>
										<p>Please Wait.</p>
										<img src="/static/loading.gif">
										<br>
										<br>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>



	</body>

	<!-- Base template footer -->
	<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/static/css/custom.css" rel="stylesheet" media="screen">
	<script src="/static/js/jquery-latest.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<style type="text/css" media="screen">
		#code-editor {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 100px
		}
	</style>
	<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var editor = ace.edit("code-editor");
		editor.getSession().setUseSoftTabs(false);
		editor.setDisplayIndentGuides(true);
		editor.setShowInvisibles(true);
		editor.setTheme("ace/theme/cobalt");
		editor.getSession().setMode("ace/mode/python");
		editor.resize()
		editor.setOptions({
			autoScrollEditorIntoView: true,
			maxLines: 500
		})

		$("#process-results").load("/feed-filters/feedid-process-results/{{feedid}}")


		var csrftoken = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken)
				}
			}
		})



		function new_func_apply_fail_cb(jqXHR, textStatus, errorThrown)
		{
			console.log("Apply failed callback?")
			$("#process-results").html(`
				<div class="center-block text-center">
					<h4>Error applying changes!</h4>
					<p>Error: ` + errorThrown + `</p>
					<p>Status text: ` + textStatus + `</p>
					<p>Possibly a function issue?</p>
				</div>`)
		}


		function new_func_ok_cb(data, textStatus, jqXHR)
		{
			console.log("Applied data:", data)
			console.log("error:", data.error)
			console.log("reload:", data.reload)



			if (data.error)
			{
				var merge_link = '';

				if (data.merge_ids)
				{
					merge_link = '<p><a href="/feed-filters/merge-parsers?' + $.param({f1 : data.merge_ids[0], f2 : data.merge_ids[1] } ) + '"">Merge viewer for: ' + data.merge_ids + '</a></p>';

				}
				console.log("Merge link:", merge_link)
				$("#process-results").html(`
					<div class="center-block">
						<h4>Error applying changes!</h4>
						<p>Error: <br><pre><code>` + data.message + `</code></pre><br><pre><code>` + data.contents + `</code></pre></p>
						` + merge_link + `
						<p>Possibly a function issue?</p>
					</div>`)
			}

			if (data.reload)
			{
				// If we've loaded OK, refresh the contents of the process-results div
				$("#process-results").html('<div class="center-block text-center"><h4>Loading results.</h4><p>Please Wait.</p><img src="/static/loading.gif"><br><br></div>')
				$("#process-results").load("/feed-filters/feedid-process-results/{{feedid}}")
			}
		}


		function apply_function_update()
		{
			console.log("Apply and update call!")
			$("#process-results").html('<div class="center-block text-center"><h4>Applying updated function.</h4><p>Please Wait.</p><img src="/static/loading.gif"><br><br></div>')

			var params = {
				'mode'    : 'update_feed_parse_func',
				'data'    : editor.getValue(),
				'feed_id' : {{feedid}},
			};

			console.log("Making request")
			$.ajax({
				url         : '/feed-filters/api/',
				data        : JSON.stringify(params),
				success     : new_func_ok_cb,
				error       : new_func_apply_fail_cb,
				method      : "POST",
				dataType    : 'json',
				contentType : "application/json;",

			})


		}
		function discard_changes()
		{
			console.log("Discard changes call!")
		}

		function update_name()
		{
			var edit = $('#feed-name-edit');
			console.log("edit", edit)
			var newname = edit.val();
			var oldname = edit.data()['oldName']
			var feedid  = edit.data()['feedId']
			if (newname == oldname)
			{
				alert("Name not changed? Nothing to do!");
				return;
			}

			var params = {
				'mode'     : 'update_feed_name',
				'data'     : {
					'old_name' : oldname,
					'new_name' : newname,
				},
				'feed_id'  : {{feedid}},
			};

			console.log("Making request")
			$.ajax({
				url         : '/feed-filters/api/',
				data        : JSON.stringify(params),
				success     : new_func_ok_cb,
				error       : new_func_apply_fail_cb,
				method      : "POST",
				dataType    : 'json',
				contentType : "application/json;",

			})
			console.log("New: ", newname, oldname, feedid)

		}

		function insert_snippet(snippet_name)
		{
			console.log("Snippet: ", snippet_name)
			var edit = $('#'+snippet_name);
			console.log(edit)
			console.log(edit.text())

			editor.session.insert(editor.getCursorPosition(), edit.text())

		}
	</script>
</html>



