<!-- extend base layout -->

{% import '_macros.html' as util_macros %}



{%- extends "__base.html" -%}

{%- block content -%}
	{%- include '_block_flash.html' -%}
	<div class="well well-large" style="min-height: 140px;">
		<div><h2 style='display: inline'>RSS Feed Items</h2><h3 style='display: inline; float:right'>{{subheader}}</h3></div>

		{{ util_macros.render_pagination(sequence_item) }}


		{%- set raw_feeds = sequence_item.items -%}
		<div>
			{%- include 'rss-pages/_block_feeds.html' -%}
		</div>

		{{ util_macros.render_pagination(sequence_item) }}



	</div>

{%- endblock -%}
