
{%- macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth' style="table-layout: fixed;">
		<colgroup>
			<col />
			<col style="width: 75%;" />
		</colgroup>
		<tr>
			<th>
				Feed name
			</th>
			<th>
				URLs
			</th>
		</tr>
{%- endmacro -%}

{%- macro tableFooter() -%}
	</table>
{%- endmacro -%}



{%- macro release_block(block_item_list) -%}
	<div>
		<div>
			{{tableHeader()}}
				{%- for after_dispatch, raw in block_item_list -%}
					<tr><td>SourceName</td><td>{{raw['srcname']}}</td></tr>
					<tr><td>Title</td><td><a href='https://www.wlnupdates.com/search?{{{"title":raw['title']} | urlencode}}'>{{raw['title']}}</a></td></tr>
					<tr>
						<td>Tags</td>
						<td>
							<ul>
								{%- for tag in raw['tags'] -%}
									<li><a href='https://www.wlnupdates.com/search?{{{"title":tag} | urlencode}}'>{{tag}}</a></li>
								{%- endfor -%}
							</ul>
						</td>
					</tr>
					<tr><td>Feed</td><td><a href='{{raw['linkUrl']}}'>{{raw['linkUrl']}}</a></td></tr>
					<tr><td>Vol, Chp, Frag, Postfix</td><td>{{raw['vcfp']}}</td></tr>
					<tr><td>GUID</td><td>{{raw['guid']}}</td></tr>
					<tr><td>Published</td><td>{{raw['published']}}</td></tr>
					<tr><td colspan=2><hr></td></tr>
				{%- endfor -%}
			{{tableFooter()}}
		</div>
	</div>
{%- endmacro -%}


<div>
	<div>
		<h5 style='display: inline; float:right'>TotalReleases: {{release_count}}</h5>
		<h4>Missed items: {{items['missed'] | length}}</h4>
		{{ release_block(items['missed']) }}
	</div>
	<div>
		<h4>Ignored items: {{items['ignored'] | length}}</h4>
		{{ release_block(items['ignored']) }}
	</div>

</div>
