<!-- extend base layout -->


{%- macro tableHeader() -%}
	<table class='table-striped table table-bordered table-condensed fullwidth' style="table-layout: fixed;">
		<colgroup>
			<col />
			<col style="width: 50%;" />
		</colgroup>
		<tr>
			<th>
				Feed name
			</th>
			<th>
				URLs
			</th>
		</tr>
{%- endmacro -%}

{%- macro tableFooter() -%}
	</table>
{%- endmacro -%}



{%- extends "__base.html" -%}

{%- block content -%}
	{%- include '_block_flash.html' -%}
	<div class="well well-large" style="min-height: 140px;">
		<div><h2 style='display: inline'>RSS Feed Items</h2><h3 style='display: inline; float:right'>{{subheader}}</h3></div>



			{{ tableHeader() }}
			{%- for entry in feeds: -%}

				<tr>
					<td>
						<a href='/feed-filters/feedid/{{entry.id}}'>{{entry.feed_name}}</a>
					</td>
					<td>
						<ul>
							{%- for urlobj in entry.urls -%}
								<li><a href='/feed-filters/feedid/{{entry.id}}'><code>{{ urlobj.feed_netloc }}</code>{% if not loop.last %}, {% endif %}</a></li>
							{%- endfor -%}
						</ul>
					</td>
				</tr>
			{%- endfor -%}
			{{ tableFooter() }}




	</div>

{%- endblock -%}
