<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }} - ReadProxy</title>
		{% else %}
			<title>ReadProxy</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="csrf-token" content="{{ csrf_token() }}">
		{% block header %}{% endblock %}
	</head>
	<body>
		<div id='segment_container'>
			<div id='segment_body'>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2">
							{% include '_block_nav.html' %}
						</div>
						<div class="col-md-10">
							{% block content %}{% endblock %}
						</div>
					</div>

				</div>
			</div>
		</div>



	</body>

	<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/static/css/custom.css" rel="stylesheet" media="screen">
	<script src="/static/js/jquery-latest.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{% block footer %}{% endblock %}
</html>
