
<div class="well well-sm">
	<h3 style='margin-top: 3px; width: 100%; text-align: center;'>Navigation</h3>

	<div class='nav-item'><a href='/'>Home</a></div>
	<br>
	<div class='nav-item'><a href='/feeds/'>Feeds</a></div>
	<br>
	<div class='nav-item'><a href='/search/'>Search</a></div>
	<br>
	<div class='nav-item'><a href='/nu_releases/'>Nu Releases</a></div>
	<br>
	<div class='nav-item'><a href='/status/'>Status</a></div>
	<br>
	<hr>
	<br>
	<div class='nav-item'><a href='/random-urls/'>Random URLs</a></div>
	<div class='nav-item'><a href='/random-raw-urls/'>Random Raw URLs</a></div>
	<br>
	<hr>
	<br>
	<div class='nav-item'><a href='/feeds/'>Feeds</a></div>
	<br>
	<div class='nav-item'><a href='/feed-filters/'>Feed Filters</a></div>
	<br>
	<div class='nav-item'><a href='/feed-filters/recent'>Recent Feeds</a></div>

</div>