

<div class="scroll-panel-buttons scroll-panel-left-top">
	<div class="scroll-button scroll-up-btn">
		<center>
			<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		</center>
	</div>
	<div class="scroll-button scroll-down-btn">
		<center>
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</center>
	</div>
</div>

<div class="scroll-panel-buttons scroll-panel-right-top">
	<div class="scroll-button scroll-up-btn">
		<center>
			<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		</center>
	</div>
	<div class="scroll-button scroll-down-btn">
		<center>
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</center>
	</div>
</div>

<div class="scroll-panel-buttons scroll-panel-left-bottom">
	<div class="scroll-button scroll-up-btn">
		<center>
			<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		</center>
	</div>
	<div class="scroll-button scroll-down-btn">
		<center>
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</center>
	</div>
</div>

<div class="scroll-panel-buttons scroll-panel-right-bottom">
	<div class="scroll-button scroll-up-btn">
		<center>
			<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		</center>
	</div>
	<div class="scroll-button scroll-down-btn">
		<center>
			<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</center>
	</div>
</div>

<script type="text/javascript">


	function page_down()
	{
		var w = $(window);
		var y = w.scrollTop() + w.height() - 10;
		$("html, body").animate({ scrollTop: y }, 600);

		// window.scrollTo(0,window.scrollY+window.innerHeight*.9);
	}


	function page_up()
	{

		var w = $(window);
		var y = w.scrollTop() - w.height() + 10;
		$("html, body").animate({ scrollTop: y }, 600);

		// window.scrollTo(0,window.scrollY-window.innerHeight*.9);
	}

	$('.scroll-up-btn').click(page_up);
	$('.scroll-down-btn').click(page_down);


</script>