<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well">
		<h3>News</h3>


		<div class="well">
			<form action="/search" method="get">
				<label style='width: 120px'>Title Search</label><input type="text" style='width: 550px' name="q"><input type="submit" value="Submit">
			</form>
		</div>

		<div class="well">
			<form action="/view" method="get">
				<label style='width: 120px'>View address</label><input type="text" style='width: 550px' name="url"><input type="submit" value="Submit">
			</form>
		</div>
		<div class="well">
			{{ interesting_links | safe }}
		</div>
	</div>

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
{% endblock %}

