<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well">


		<h2>NU Items</h2>

		<div class="well">
			<div class="pull-right">
				<a href='/nu_releases/?view=all'>All</a>
				<a href='/nu_releases/?view=unverified'>Unverified</a>
				<a href='/nu_releases/?view=verified'>Verified</a>
			</div>
			<h4 class="pull-left">
				Releases: {{release_selector}} ({{new | length}})
			</h4>
			<div class="clearfix"></div>
			<button onclick="apply_changes()">Apply changes</button>
			<button onclick="delete_changes()">Delete Checked</button>
			<button onclick="check_multiple_hit_two()">Check rows with two sources</button>
			<button onclick="check_multiple_hit_three()">Check rows with three sources</button>
			<div>
				<table class='table-striped' style='width:100%'>
					<colgroup>
						<col>
						<col style='width: 110px;'>
						<col>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<tr>
						<th>Valid</th>
						<th>Worker</th>
						<th>TL Group</th>
						<th>Series</th>
						<th>Chapter</th>
						<th>Target URL</th>

					</tr>
					{%- for markedup_name, rowlist in new -%}
						<tr>
							<td><center><input class='row-checkbox' type="checkbox" data-series-name='{{rowlist[0].seriesname}}' data-row-id="[{% for row in rowlist %}{{row.id}}{% if not loop.last %},{% endif %}{% endfor %}]" data-original-value="{{'true' if rowlist[0].validated else 'false'}}" {{'checked="true"' if rowlist[0].validated else ''}}></center></td>
							<td>{% for row in rowlist %}{{row.client_id}}{% if not loop.last %}<br>{% endif %}{% endfor %}</td>
							<td>{{rowlist[0].groupinfo}}</td>
							<td>{{rowlist[0].seriesname}}</td>
							<td>{{rowlist[0].releaseinfo}}</td>
							<td><a href='{{rowlist[0].actual_target}}'>{{markedup_name | safe}}</a></td>

						</tr>
					{%- endfor -%}
				</table>
			</div>
			<button onclick="apply_changes()">Apply changes</button>
			<button onclick="delete_changes()">Delete Checked</button>
		</div>
	</div>

{% endblock %}


{% block header %}
	<style>
		#segment_container
		{
			max-width: none !important;
		}
		body
		{
			max-width: none !important;
		}
		table, th, td {
		    border: 1px solid black !important;
		}
		th, td
		{
			padding : 2px !important;
		}
	</style>
{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}

	<script>

		var csrftoken = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				console.log("Ajax setup!", csrftoken);
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken)
				}
			}
		})

		function content_load_cb(data, textStatus, jqXHR)
		{
			console.log("Response: ", data)
			if (data['error'] == false)
				location.reload();
			else
				alert("Non-False error response!\nError: " + textStatus + "\nStatus text: " + data);
		};

		function content_load_fail(jqXHR, textStatus, errorThrown)
		{
			alert("Failed to fetch content!\nError: " + errorThrown + "\nStatus text: " + textStatus);
		}


		function apply_changes()
		{
			var rows = $(".row-checkbox");

			var changes = [];
			rows.each(function( index, value ) {
				var itm = $(this);

				if ( itm.data('originalValue') != itm.is(':checked'))
				{
					console.log( itm.data(), itm.is(':checked') );
					for (var idx in itm.data().rowId)
					{
						changes.push({
							'id'  : itm.data().rowId[idx],
							'old' : itm.data().originalValue,
							'new' : itm.is(':checked'),
						});
					}
				}
			});
			console.log("Changes:", changes.length, changes)


			if (changes.length)
			{
				console.log("Making request")
				$.ajax({
					url         : '/nu_api/',
					data        : JSON.stringify({'op' : 'nu release validity update', 'data' : changes}),
					success     : content_load_cb,
					error       : content_load_fail,
					method      : "POST",
					dataType    : 'json',
					contentType : "application/json;",

				})
			}

		}
		function delete_changes()
		{
			var rows = $(".row-checkbox");

			var changes = [];
			rows.each(function( index, value ) {
				var itm = $(this);

				if (itm.is(':checked'))
				{
					for (var idx in itm.data().rowId)
					{
						changes.push({
							'del_id'  : itm.data().rowId[idx],
						});
					}
				}
			});
			console.log("Changes:", changes.length, changes)


			if (changes.length)
			{
				console.log("Making request")
				$.ajax({
					url         : '/nu_api/',
					data        : JSON.stringify({'op' : 'nu release delete', 'data' : changes}),
					success     : content_load_cb,
					error       : content_load_fail,
					method      : "POST",
					dataType    : 'json',
					contentType : "application/json;",

				})
			}

		}

		function check_multiple_hit_two()
		{
			check_multiple_hit(2);
		}
		function check_multiple_hit_three()
		{
			check_multiple_hit(3);
		}
		function check_multiple_hit(num)
		{
			console.log("Wat?")
			var rows = $(".row-checkbox");
			rows.each(function( index, value ) {
				var itm = $(this);

				if (itm.data().rowId.length >= num)
				{
					console.log( itm.data(), itm.is(':checked'), itm.data().rowId.length, itm.data().seriesName );
					if (!itm.data().seriesName.endsWith('...'))
						itm.prop( "checked", true );
				}
			});
		}



	</script>
{% endblock %}

