<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well">
		<div id='content' class='easyreading'>
			<div class="center-block text-center">
				<h4>Loading</h4>
				<p>Please Wait.</p>
				<img src="/static/loading.gif">
				<br>
				<br>
			</div>
		</div>
		<hr>
		<div>
			<p>Remote URL: <a href='{{req_url}}'>{{req_url}}</a></p>
			<p>
				<a href='/render?{{ {"url" : req_url} | urlencode }}'>Raw Render</a> |
				<a href='{{req_url}}'>Original content</a> |
				Ignore-cache: {{"no" if not ignore_cache else "yes"}}
				(<a href='/view?{{ {"url" : req_url, "nocache" : "true"} | urlencode }}'>yes</a>, <a href='/view?{{ {"url" : req_url} | urlencode | safe }}'>no</a>)</p>

		</div>
	</div>

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
	<script>
		{% if ignore_cache %}
			$("#content").load("/render?{{ {"url" : req_url, "nocache" : "true"} | urlencode | safe }}")
		{% else %}
			$("#content").load("/render?{{ {"url" : req_url} | urlencode | safe }}")
		{% endif %}


	</script>
	<style>
		div.easyreading
		{
			margin:0 auto;
			width: 500px;
			font-family: Arial;
			font-size: large;
			word-wrap: break-word;
		}
	</style>
{% endblock %}

