<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well">
		<div id='content' class='easyreading'>
			<div class="center-block text-center">
				<h4>Loading</h4>
				<p>Please Wait.</p>
				<img src="/static/loading.gif">
				<br>
				<br>
			</div>
		</div>
		<hr>
		<div>
			<p>Remote URL: <a href='{{req_url}}'>{{req_url}}</a></p>
			<p><a href='/render?{{ {"url" : req_url} | urlencode }}'>Raw Render</a> | <a href='{{req_url}}'>Original content</a></p>
		</div>
	</div>

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
	<script>
		$("#content").load("/render?{{ {"url" : req_url} | urlencode }}")
	</script>
	<style>
		div.easyreading
		{
			margin:0 auto;
			width: 500px;
			font-family: Arial;
			font-size: large;
		}
	</style>
{% endblock %}

