<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well" id='content'>
		<div class="center-block text-center">
			<h4>Loading</h4>
			<p>Please Wait.</p>
			<img src="/static/loading.gif">
			<br>
			<br>
			<p>Remote URL: <a href='{{req_url}}'>{{req_url}}</a></p>
		</div>
		<a href='/render?{{ {"url" : req_url} | urlencode }}'>Raw Render</a>
	</div>

{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
	<script>
		$("#content").load("/render?{{ {"url" : req_url} | urlencode }}")
	</script>
{% endblock %}

